Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Shook tweak!
Maintainer: @@USER@@
Author: @@USER@@
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
